@import './_default-values.scss';

$breakpoints-up: (
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);

$breakpoint-down-diff: 0.5;
$breakpoints-down: (
  sm: $breakpoint-sm - $breakpoint-down-diff,
  md: $breakpoint-md - $breakpoint-down-diff,
  lg: $breakpoint-lg - $breakpoint-down-diff,
  xl: $breakpoint-xl - $breakpoint-down-diff
);

@mixin breakpoint-up($breakpoint) {
  $bp: map-get($breakpoints-up, $breakpoint);

  @media (min-width: #{$bp}) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  $bp: map-get($breakpoints-down, $breakpoint);

  @media (max-width: #{$bp}) {
    @content;
  }
}
