// Import this everywhere before you use any mixins
@import './base-layers-demo-config.scss';

@import './scss/base-layers';
@import './scss/globals';

html {
  font-size: 110%;
}

body {
  line-height: 1.6;
  font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
  color: $btn-tertiary-bg;
}

::selection {
  background: $btn-primary-bg;
  color: white;
}

img {
  max-width: 100%;
}

h1 {
  @include text--xl;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: $btn-primary-bg;
}

h2 {
  @include text--lg;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: $btn-secondary-bg;
}

h3 {
  @include text--md;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  @include text--sm;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


$bullet-size: 22px;
ul {
  padding-left: 2em;
  line-height: 2;
}

li {
  position: relative;

  &:before {
    width: $bullet-size;
    height: $bullet-size;
    display: block;
    content: ' ';
    position: absolute;
    top: $bullet-size / 1.4;
    left: -2em;
    transform: translateY(-50%);
    background: center center no-repeat url('https://github.com/tinacious/base-layers/raw/main/assets/tank-top.png');
    background-size: $bullet-size $bullet-size;
  }
}

a {
  color: $btn-secondary-bg;
  font-weight: 700;
  text-decoration: none;
  transition: color 200ms linear;

  &:hover {
    color: $btn-primary-bg;
  }
}

code {
  background: #efefef;
  padding: 0.2em 0.5em;
  font-family: Courier,  monospace;
}

pre {
  font-family: Courier,  monospace;
}

.demo-title-description {
  color: $btn-tertiary-bg;
}
.demo-text-size {
  color: $btn-primary-bg;
}

.box {
  padding: $spacer * 2;
  color: #fff;
  min-height: 200px;
}

.u-bg-primary {
  background: $btn-primary-bg;
}

.u-bg-secondary {
  background: $btn-secondary-bg;
}

.u-bg-tertiary {
  background: $btn-tertiary-bg;
}
