// Import this everywhere before you use any mixins
@import './base-layers-demo-config.scss';

@import './scss/base-layers';
@import './scss/globals';

html {
  font-size: 110%;
}

body {
  line-height: 1.6;
  font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
  color: $btn-tertiary-bg;
}

img {
  max-width: 100%;
}

h1 {
  @include text--xl;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: $btn-primary-bg;
}

h2 {
  @include text--lg;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: $btn-secondary-bg;
}

h3 {
  @include text--md;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  @include text--sm;
  @include text--bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
